<div [ngClass]="alerta"   class="alert" role="alert">
  <strong>WELL DONE!</strong> hola mundo
</div>


<button class="btn btn-info" type="button" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-success" type="button" (click)="alerta = 'alert-success'">Succes</button>

<br><br>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}" >
  Hola mundo
</h3>
<button class="btn btn-info" type="button" (click)="propiedades.danger = !propiedades.danger"
[ngClass]="{'btn-danger': propiedades.danger, 'btn-info':!propiedades.danger}"
>Cambiar</button>


