<div [ngClass]="alerta"   class="alert" role="alert">
  <strong>WELL DONE!</strong> hola mundo
</div>


<button class="btn btn-info" type="button" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-success" type="button" (click)="alerta = 'alert-success'">Succes</button>

<br><br>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}" >
  Hola mundo
</h3>
<button class="btn btn-info" type="button" (click)="propiedades.danger = !propiedades.danger"
[ngClass]="{'btn-danger': propiedades.danger, 'btn-info':!propiedades.danger}"
>Cambiar</button>

<br><br>

<h3>Proceso asincrono</h3>
<button [disabled]="loading" type="button" class="btn btn-primary" name="button" (click)="ejecutar()">

  <i

  [ngClass]="{'fa-save':!loading, 'fa-refresh fa-spin': loading}"
  class="fa"> </i>Guardar cambios

  <span *ngIf="!loading" >Guardar Cambios</span>
  <span *ngIf="loading" >Espera por favor</span>
</button>
